@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}


.center{
    display: flex;
    justify-content: center;
}
.tension{
    width: 1200px;
    height: 700px;
    border-radius: 20px;
    background-color: black;
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 40px;
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 80px;
    color:white ;
    margin-bottom: 0;
}    
h3{
    color: white;
}
.link-button{
    text-decoration: none;
    background-color: red;
    padding:10px 40px ;
    border-radius: 10px;
    color: white;
    font-weight:700;
    width: 30px;
    border: 2px 
}
.box{
    height: 200px;
    width: 220px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
}
input{
    height: 50px;
    width: 200px;
    padding: 5px;
    margin-right: 2px;
    border-radius: 20px;
    font-size:25px;
    text-align: center;
}
input[type=link]{
    background-color: red;
}
.match{
    display: flex;
    justify-content: center;
}
.boxes{
    width: 250px;
    height: 220px;
    border: 2px solid rgb(155, 151, 151);
}
.country{
    text-align: center;
}
.matches{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}    
.upcomming{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    
}
footer{
    
    width: 2200px;
    height: 500px;
    border-radius: 20px;
    background-color: black;  
}
.color{
    color: white;
    display: flex;
    justify-content: center;
    
}
.flex{
    display: flex;
    justify-content: center;
    
}
.flex p{
    margin: 30px;
    font-size: 30px;
    
}
   #color{
    color:white ;
   } 
    

.pera{
    display: flex;
    justify-content: center;
    margin-top: 500px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.icon p{
    margin: 40px;
}
